<div id="search-component">
    <h4>Hero Search</h4>

    <input #searchBox id="search-box" (input)="search(searchBox.value)" /> <!-- ()  -- односторонняя привязка -->

    <ul class="search-result">
        <li *ngFor="let hero of heroes$ | async">
            <!-- Асинхронный канал подписывается на Observable или Promise и возвращает последнее отправленное значение.  -->
            <!-- Когда выдается новое значение, асинхронный канал отмечает компонент, который необходимо проверить на наличие изменений.  -->
            <!-- Когда компонент уничтожается, асинхронный канал автоматически отписывается, чтобы избежать потенциальных утечек памяти.  -->
            <!-- Когда ссылка на выражение изменяется, асинхронный канал автоматически отписывается от старого Observable или Promise и подписывается на новый. -->
            <a routerLink="/detail/{{hero.id}}">
                {{hero.name}}
            </a>
        </li>
    </ul>
</div>